# shellcheck disable=SC2148
watch_file uv.lock
if [[ ! -f .venv/bin/activate ]]; then
  uv sync --all-extras
fi
sed --in-place 's/include-system-site-packages = false/include-system-site-packages = true/' .venv/pyvenv.cfg
source_env .venv/bin/activate

GITHUB_TOKEN=$(gh auth token)
export GITHUB_TOKEN
